
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Trip Planner</title>
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/tripPlanner.css">
    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Trip Planner</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <div class = "container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{keys}}&sensor=true"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script>
            function initialize_gmaps() {
            // initialize new google maps LatLng object
            var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
            // set the map options hash
            var mapOptions = {
                center: myLatlng,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            // get the maps div's HTML obj
            var map_canvas_obj = document.getElementById("map-canvas");
            // initialize a new Google Map with the options
            var map = new google.maps.Map(map_canvas_obj, mapOptions);
            // Add the marker to the map
            var marker = new google.maps.Marker({
                position: myLatlng,
                title:"Hello World!"
            });
            // Add the marker to the map by calling setMap()
            marker.setMap(map);
        }

        $(document).ready(function() {
            initialize_gmaps();
        });
    </script>
	</body>
</html>