$main-color: darken(#8e44ad, 20%);

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding-left: 15px;
}

body {
 padding-top: 70px;
 font-family: 'Karla', sans-serif;
 color: #34495e;
}

h2 {
	font-size: 16px;
}

h1 {
	text-align: center;
	font-size: 24px;
	color: #fff
}

.current-day {
	background-color: $main-color;
}

.day-buttons {
	padding: 10px 0; 
}

.form-group {
	float: none;
}

.navbar {
	background-color: $main-color;
}

.navbar .navbar-nav > li > a, .navbar .navbar-brand {
    color: #fff;
}

#map-canvas {
	background-color: black;
	height: 85vh;

	@media (max-width:  991px) {
		height: 55vh;
	}
}

.side-bar {
	height: 85vh;

	@media (max-width: 991px) {
		padding: 0;
	}
}

.options-panel {
	padding: 10px;
	background-color: #1abc9c;
}

.options-label {
	display: block;
	width: 80%;
	h2 {
		padding: 0px;
		margin: 0px;
	}
}

.trip-dropdown {
	margin-top: 5px;
	margin-bottom: 10px;
	display: inline;
	width: 85%;
}

.itinerary {
	background-color: #1abc9c;
}

.day-selector {
	width: 100%;
	background-color: $main-color;
}

.btn-remove, .btn-add {
	display: block;
	float: right;
	background-color: transparent;
	border: none;
}

.glyphicon-remove {
	color: #c0392b;
}

.glyphicon-plus {
	color: #2980b9;
}

.bottom-half {
	padding: 0;
}

.top-half {
	padding: 0;
}